<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aop.mapper.PlaneModelMapper" >
  <resultMap id="BaseResultMap" type="com.aop.domain.PlaneModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="saloon_seat_maximum" property="saloonSeatMaximum" jdbcType="INTEGER" />
    <result column="business_seat_maximum" property="businessSeatMaximum" jdbcType="INTEGER" />
    <result column="economy_seat_maximum" property="economySeatMaximum" jdbcType="INTEGER" />
    <result column="voyage" property="voyage" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, model, saloon_seat_maximum, business_seat_maximum, economy_seat_maximum, voyage, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aop.domain.PlaneModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plane_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plane_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plane_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aop.domain.PlaneModelExample" >
    delete from plane_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aop.domain.PlaneModel" >
    insert into plane_model (id, model, saloon_seat_maximum, 
      business_seat_maximum, economy_seat_maximum, 
      voyage, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, #{saloonSeatMaximum,jdbcType=INTEGER}, 
      #{businessSeatMaximum,jdbcType=INTEGER}, #{economySeatMaximum,jdbcType=INTEGER}, 
      #{voyage,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aop.domain.PlaneModel" >
    insert into plane_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="saloonSeatMaximum != null" >
        saloon_seat_maximum,
      </if>
      <if test="businessSeatMaximum != null" >
        business_seat_maximum,
      </if>
      <if test="economySeatMaximum != null" >
        economy_seat_maximum,
      </if>
      <if test="voyage != null" >
        voyage,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="saloonSeatMaximum != null" >
        #{saloonSeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="businessSeatMaximum != null" >
        #{businessSeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="economySeatMaximum != null" >
        #{economySeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="voyage != null" >
        #{voyage,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aop.domain.PlaneModelExample" resultType="java.lang.Integer" >
    select count(*) from plane_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plane_model
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.model != null" >
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.saloonSeatMaximum != null" >
        saloon_seat_maximum = #{record.saloonSeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="record.businessSeatMaximum != null" >
        business_seat_maximum = #{record.businessSeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="record.economySeatMaximum != null" >
        economy_seat_maximum = #{record.economySeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="record.voyage != null" >
        voyage = #{record.voyage,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plane_model
    set id = #{record.id,jdbcType=INTEGER},
      model = #{record.model,jdbcType=VARCHAR},
      saloon_seat_maximum = #{record.saloonSeatMaximum,jdbcType=INTEGER},
      business_seat_maximum = #{record.businessSeatMaximum,jdbcType=INTEGER},
      economy_seat_maximum = #{record.economySeatMaximum,jdbcType=INTEGER},
      voyage = #{record.voyage,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aop.domain.PlaneModel" >
    update plane_model
    <set >
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="saloonSeatMaximum != null" >
        saloon_seat_maximum = #{saloonSeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="businessSeatMaximum != null" >
        business_seat_maximum = #{businessSeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="economySeatMaximum != null" >
        economy_seat_maximum = #{economySeatMaximum,jdbcType=INTEGER},
      </if>
      <if test="voyage != null" >
        voyage = #{voyage,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aop.domain.PlaneModel" >
    update plane_model
    set model = #{model,jdbcType=VARCHAR},
      saloon_seat_maximum = #{saloonSeatMaximum,jdbcType=INTEGER},
      business_seat_maximum = #{businessSeatMaximum,jdbcType=INTEGER},
      economy_seat_maximum = #{economySeatMaximum,jdbcType=INTEGER},
      voyage = #{voyage,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>